@using Modix.Web.Client.Diagnostics

@namespace Modix.Web

@inherits ViewBase<ApplicationViewModel>

<h1>Hello World!</h1>

<h3>@ObserveValue(ViewModel.Now, default).DateTime.ToLongTimeString()</h3>

<DiagnosticsView />
