@page "/diagnostics"

@using System.Collections.Immutable

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Web

@using Humanizer

@namespace Modix.Web.Client.Diagnostics

@attribute [Authorize]
@inherits ViewBase<DiagnosticsPageModel>

<div>
    <div>
        <span><strong>Server Clock:</strong></span>
        @if (ObserveValue(ViewModel.IsServerClockRunning, false))
        {
            <button @onclick="ViewModel.ToggleServerClock">Stop</button>
            <span>@(ObserveValue(ViewModel.ServerClock)?.ToString("yyyy-MMM-dd hh:mm:ss tt K") ?? "Loading...")</span>
        }
        else
        {
            <button @onclick="ViewModel.ToggleServerClock">Start</button>
        }
    </div>

    <button @onclick="ViewModel.StartPingTest" disabled="@ObserveValue(ViewModel.IsPingTestRunning, false)">Start Ping Test</button>

    <dl>
        @foreach (var item in ObserveValue(ViewModel.PingTestStates, ImmutableList<PingTestState>.Empty))
        {
            <dt>@item.EndpointName</dt>
            <dd>
                @(item.HasCompleted
                ? (item.Latency >= TimeSpan.Zero)
                    ? $"{item.Latency.Value.TotalMilliseconds: 0}ms"
                    : item.Status.ToString().Humanize()
                : "Running...")
            </dd>
        }
    </dl>
</div>
